@using System.Runtime.InteropServices.JavaScript
@using Web.App.Options

@inherits LayoutComponentBase
@inject ProjectOptions project

<header>
	<a class="nav-logo" href="/">
		<Duck Size="32" />
		<span class="nav-title">
			<span class="kappa">Kappa</span><span class="duck">Duck</span>
		</span>
	</a>
	<nav>
		<div class="nav-links">
			<a href="@project.Url" target="_blank" class="github-link">
				<i class="@Icons.Github"></i>
				<span>GitHub</span>
			</a>
		</div>
		<button @onclick="ToggleTheme" class="theme-btn" title="Toggle light/dark theme" aria-label="Toggle light/dark theme">
			<i class="@Icons.Moon icon-moon"></i>
			<i class="@Icons.Sun icon-sun"></i>
		</button>
	</nav>
</header>
@Body
<footer>
	<span class="copy"><span>&copy; @DateTime.Now.Year</span> <strong><span class="kappa">Kappa</span><span class="duck">Duck</span></strong>. All rights reserved.</span>
	<span class="right">Build with Blazor &middot; @project.Version</span>
</footer>
